.loading-animation-div
{
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: black;
    z-index: 1;
    cursor: progress;
}

.loading-animation
{
    width: 200px;
    margin: 35vh auto;
}